DISCORD_BOT_TOKEN=<your_value_here>
NGROK_AUTHTOKEN=<your_value_here>
NGROK_DOMAIN=<your_value_here>
CLAW_DASHBOARD_URL=<your_value_here>
DASHBOARD_PASSWORD=<your_value_here>
HF_TOKEN=<your_value_here>
